.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1430px;
  flex-direction: row;
  width: 1200px;
  align-items: flex-start;
}

.spinnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 10
}

.nftswrap {
  position: relative;
  background: #14141f;
  border: 1px solid rgba(118, 15, 75, 0.3);
  border-radius: 20px;
  padding: 15px;
  width: 50%;
  margin-left: 0;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  max-width: 1075px;
  width: 100%;

  button {
    height: 50px;
    line-height: 50px;
    transition: all 0.5s;

    &:hover {
      background-color: rgb(228, 37, 117) !important;
      transition: all 0.5s;
    }
  }

  a {
    background: rgb(206, 38, 108);
    color: rgb(255, 232, 241);
    line-height: 50px;
    padding: 0 30px;
    display: inline-block;
    border-radius: 50px;
    text-transform: uppercase;
    font-variation-settings: "wght" 700;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: all 0.5s;

    img {
      padding-left: 10px;
      transition: all 0.5s;
    }

    &:hover {
      background: #ef478d;
      box-shadow: 0 0 5px rgb(228, 37, 117);
      transition: all 0.5s;

      img {
        transform: translateX(5px);
        transition: all 0.5s;
      }
    }
  }
}

