.nft {
  background: #14141f;
  border: 1px solid rgb(43, 8, 22);
  border-radius: 20px;
  padding: 5px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}

.nft img {
  border-radius: 10px;
}

.nftselected {
  box-shadow: 0px 0px 12px 4px rgb(228, 37, 117) !important;
}